{% extends 'second/layout.html' %}

{% block title %}
{% endblock %}

{% block newcss %}
<style>
.del-form{
    display:none;}
</style>
{% endblock %}

{% block content %}
{% load static %}

<div id="content-block">
    <h2>{% block content_title %}
        {% endblock %}<span class='right-content'>
        <a href="{% block content_modify_url %}{% endblock %}"><img src="{% static 'second/icon_modify.png' %}"/></a>
        <form class="del-form" id="{{delid}}" method="post" action="{% block content_delete_url %}{% endblock %}">
            {% csrf_token %}
            <input type="hidden" name="del" value="{{idn}}"/>
        </form> <!--숨은 폼 작성 -->
        <a onclick="alert_msg();"><img src="{% static 'second/icon_delete.png' %}"/></a></span></h2>
    <hr>
    <div class='item-box-enclose'>
        {% block content_detail %}
        {% endblock %}
    </div>
    <script>
        let form = document.getElementById('{{delid}}');
        alert_msg = () => {
            let form = document.getElementById('{{delid}}');
            let msg = confirm('삭제하시겠습니까?');
            if (msg){ // 강제로 히든 폼 형식을 만든다.
                form.submit();
            }
        };
    </script>

{% endblock %}