{% extends 'second/detail_pages.html' %}

{% block title %}
Favourites {{ favourite.name }}
{% endblock %}

{% block content_title %}
{{ favourite.name }}
{% endblock %}

{% block content_modify_url %}
{% url 'second:favourites_modify' favourite.seq %}
{% endblock %}

{% block content_delete_url %}
{% url 'second:favourites_delete' %}
{% endblock %}

{% block content_detail %}
            <div class='item-box'>
                <table class='item-box-table'>
                    <tr>
                        <td>순번</td>
                        <td> {{ favourite.seq }}</td>
                    </tr>
                    <tr>
                        <td>명칭</td>
                        <td>{{ favourite.name }}</td>
                    </tr>
                    <tr>
                        <td>URL</td>
                        <td>{{ favourite.url }}</td>
                    </tr>
                    <tr>
                        <td>메모</td>
                        <td>{{ favourite.memo }}</td>
                    </tr>
                    <tr>
                        <td>등록일</td>
                        <td>{{ favourite.reg_date }}</td>
                    </tr>
                    <tr>
                        <td>그룹</td>
                        <td>{{ favourite.group }}</td>
                    </tr>
                </table>
            </div>
    </div>
{% endblock %}
