{% extends 'second/layout.html' %}

{% block title %}
Favourites
{% endblock %}
{%block newcss %}
<style>
    /* item-box related */
    .item-box-image{
        float:right;
    }
    .sublist{
        display:none;
    }
    .sublist ul{
        list-style-type:none;
        padding:0;
        margin:0;
    }
    .item-box-image:hover .sublist{
        display:block;
    }
    .item-box-image:hover .sublist li{
        background-color:white;
        width:5em;
        position:absolute;
        right:0em;
        border: 1px solid black;
        z-index:1;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}
<div id="content-block">
<h2>즐겨찾기 <span class='right-content'><a href="{% url 'second:favourites_add' %}"><img src="{% static 'second/icon_add.png' %}"/></a></span></h2>
<hr>
<div class='item-box-enclose'>
        {% for favourite in favourites %}
        <!-- 반복 -->
        <div class='item-box' id='item-box-{{ favourite.seq }}'>
            <span class='headline-small'><a href="{% url 'second:favourites_detail' favourite.seq %}">{{ favourite.name }}</a></span>
            <div class='right-content'>
            {{ favourite.reg_date|date:"Y-m-d" }} &nbsp;&nbsp;
            {{ favourite.group }}
            <div class='item-box-image'>
            <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{favourite.seq}}-image' style='height:1em;'/>
            <div id ="item-list-{{favourite.seq}}" class="sublist"><ul><li id="del-{{favourite.seq}}-from-list">삭제</li></ul></div>
            </div></div>
        </div>
        <script>
            idx = document.getElementById('del-{{favourite.seq}}-from-list');
            idx.onclick = () =>{ 
                fetch("{% url 'second:favourites_quick'  %}"+'?'+ new URLSearchParams({'del':'{{favourite.seq}}'})).then(
                    function(){location.href="{% url 'second:favourites' %}";});
            }
        </script>
        {% endfor %}
</div>
</div>

{% endblock %}