{% extends 'second/layout.html' %}



{% block title %}
No Authurity on {{action}}
{% endblock %}

{% block content %}
{% load static %}

<div id="content-block">
    <h2>권한 오류!
        <span class='right-content'>
        </span> </h2>
    <hr>
    <div class='item-box-enclose'>
        <div class="item-box">
            <p>자신이 등록한 {{action_kr}} 아니므로 접근 불가능합니다!</p>
            <p><a href="{% url 'second:favourites' %}" style='text-decoration:underline;'>돌아가기</a></p>

        </div>
    </div>

{% endblock %}
