{% extends 'second/layout.html' %}

{% block title %}
<title>Todo {{ todo.name }}</title>
{% endblock %}

{% block content %}
{% load static %}
<div id="content-block">
    <h2>{{ todo.name }}<span class='right-content'>
        <img src="{% static 'second/icon_modify.png' %}"/><img src="{% static 'second/icon_delete.png' %}"/></span></h2>
    <hr>
    <div class='item-box-enclose'>
            <!-- 반복 -->
            <div class='item-box'>
                <table class='item-box-table'>
                    <tr>
                        <td>순번</td>
                        <td> {{ todo.seq }}</td>
                    </tr>
                    <tr>
                        <td>명칭</td>
                        <td>{{ todo.name }}</td>
                    </tr>
                    <tr>
                        <td>상태</td>
                        <td>{{ todo.status }}</td>
                    </tr>
                    <tr>
                        <td>등록일</td>
                        <td>{{ todo.reg_date }}</td>
                    </tr>
                    <tr>
                        <td>종료일</td>
                        <td>{{ todo.end_date }}</td>
                    </tr>
                    <tr>
                        <td>삭제여부</td>
                        <td>{{ todo.del_yn }}</td>
                    </tr>
                    <tr>
                        <td>그룹</td>
                        <td>{{ todo.group }}</td>
                    </tr>
                </table>
            </div>
    </div>
    </div>
{% endblock %}