{% extends 'second/layout.html' %}

{% block title %}
todos_end
{% endblock %}
{% block newcss %}
<style>

</style>
{% endblock %}

{% block content %}
{% load static %}
<div id="content-block">
<script>val_list =[];</script>
<h2>내가할일<span class='right-content'><a href="{% url 'second:todo_add' %}"><img src="{% static 'second/icon_add.png' %}"/></a></span></h2>
<hr>
<div class='item-box-enclose-3'>
    <h3 class='center'>대기중</h3>
        {% for todo in todos_pending %}
        <!-- todo pending -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'> 
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div> 
           </div>
        </div>
        <script>
        var val = "{{todo.seq}}"
        val_list.push(val);
            document.getElementById('del-{{todo.seq}}-from-list').onclick = () =>{ 
                let val = "{{todo.seq}}";
                del_process(val);
            };
            document.getElementById('shift-{{todo.seq}}-to-pending').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 0);
            };
            document.getElementById('shift-{{todo.seq}}-to-inprogress').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 1);
            };
            document.getElementById('shift-{{todo.seq}}-to-end').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 2);
            };
        </script>
        {% endfor %}
</div>
<div class='item-box-enclose-3'>
    <h3 class='center'>진행중</h3>
    {% for todo in todos_inprogress %}
        <!-- todo_inprogress -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'>
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
        <script>
        var val = "{{todo.seq}}"
        val_list.push(val);
            document.getElementById('del-{{todo.seq}}-from-list').onclick = () =>{ 
                let val = "{{todo.seq}}";
                del_process(val);
            };
            document.getElementById('shift-{{todo.seq}}-to-pending').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 0);
            };
            document.getElementById('shift-{{todo.seq}}-to-inprogress').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 1);
            };
            document.getElementById('shift-{{todo.seq}}-to-end').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 2);
            };
        </script>
    {% endfor %}
</div>
<div class='item-box-enclose-3'>
    <h3 class='center'>완료</h3>
    {% for todo in todos_end %}
        <!--todo_end -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'>
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
        var val = "{{todo.seq}}"
        val_list.push(val);
            document.getElementById('del-{{todo.seq}}-from-list').onclick = () =>{ 
                let val = "{{todo.seq}}";
                del_process(val);
            };
            document.getElementById('shift-{{todo.seq}}-to-pending').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 0);
            };
            document.getElementById('shift-{{todo.seq}}-to-inprogress').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 1);
            };
            document.getElementById('shift-{{todo.seq}}-to-end').onclick = () =>{ 
               let val = "{{todo.seq}}";
               shift_process(val, 2);
            };
        </script>
    {% endfor %}
</div>
</div>
<script>
del_process = (_val) =>{
    fetch("{% url 'second:todo_quick'  %}"+'?'+ new URLSearchParams({'del':_val })).then(() => {
                    idbox = document.querySelector('#item-box-'+_val);
                    idbox.remove(); //시각적으로 조작
                }
                );
};
function hide_list(_val){ //메뉴 숨기기
    box_list = document.querySelectorAll('.item-box-enclose-3');
    item_list = document.querySelector('#item-list-'+_val);
    _num=-1;
    for (let j=0;j<3;j++){
        if (box_list[j].querySelector('#item-list-'+_val) === item_list){ // 현재 item_list 위치 찾기
        _num=j; 
        break;
        }
    }
    for (let i=0; i<4;i++){
    if (i == _num+1){ //num일 때만 숨기기.
        item_list.querySelectorAll('li')[i].style.display='none';
    }
    else{
        item_list.querySelectorAll('li')[i].style.display='block';
    }
    }
};
shift_process = (_val, _num) =>{ //상자 위치 이동 함수
    status_list = ['Pending', 'Inprogress', 'End'];
    idbox = document.querySelector('#item-box-'+_val);
    box_list = document.querySelectorAll('.item-box-enclose-3');
    fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':_val, 'status':status_list[_num]})).then(() =>{
    box_list[_num].appendChild(idbox);
    hide_list(_val);}
    );
};
for (_val of val_list){
    hide_list(_val);
}

</script>
{% endblock %}
