{% extends 'second/detail_pages.html' %}

{% block title %}
Todo {{ todo.name }}
{% endblock %}

{% block content_title %}
{{ todo.name }}
{% endblock %}

{% block content_modify_url %}
{% url 'second:todo_modify' todo.seq %}
{% endblock %}

{% block content_delete_url %}
{% url 'second:todo_delete' %}
{% endblock %}


{% block content_detail %}
            <div class='item-box'>
                <table class='item-box-table'>
                    <tr>
                        <td>순번</td>
                        <td> {{ todo.seq }}</td>
                    </tr>
                    <tr>
                        <td>명칭</td>
                        <td>{{ todo.name }}</td>
                    </tr>
                    <tr>
                        <td>상태</td>
                        <td>{{ todo.status }}</td>
                    </tr>
                    <tr>
                        <td>수행일</td>
                        <td>{{ todo.end_date }}</td>
                    </tr>
                    <tr>
                        <td>그룹</td>
                        <td>{{ todo.group }}</td>
                    </tr>
                </table>
            </div>
    </div>
{% endblock %}

