{% extends 'second/layout.html' %}

{% block title %}
todos_end
{% endblock %}
{% block newcss %}
<style>
/* item-box related */
.item-box-image{
        float:right;
    } 
    .sublist{
        display:none;
    }
    .sublist ul{
        list-style-type:none;
        padding:0;
        margin:0;
    }
    .item-box-image:hover .sublist{
        float:right;
        display:block;
    }
    .item-box-image:hover .sublist li{
        background-color:white;
        width:5em;
        right:0em;
        border: 1px solid black;
        z-index:1;
        line-height:1.5em;
    }
    .item-box-image:hover .sublist li:first-child{
        position:absolute;
        bottom:-1em;
    }
    .item-box-image:hover .sublist li:nth-child(2){
        position:absolute;
        bottom:-2.5em;
    }
    .item-box-image:hover .sublist li:nth-child(3){
        position:absolute;
        bottom:-4em;
    } 
</style>
{% endblock %}

{% block content %}
{% load static %}
<div id="content-block">
<h2>내가할일<span class='right-content'><a href="{% url 'second:todo_add' %}"><img src="{% static 'second/icon_add.png' %}"/></a></span></h2>
<hr>
<div class='item-box-enclose-3'>
    <h3 class='center'>대기중</h3>
        {% for todo in todos_pending %}
        <!-- todo pending -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'> 
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div> 
           </div>
        </div>
        <script>
            idx = document.getElementById('del-{{todo.seq}}-from-list');
            idx.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_quick'  %}"+'?'+ new URLSearchParams({'del':'{{todo.seq}}'})).then(
                    function(){location.href="{% url 'second:todos' %}";});
                    */
                // 시각적으로만 데이터 지우기
                idbox = document.getElementById('item-box-{{todo.seq}}');
                idbox.remove();//시각적으로만 조작.
            };
            idp = document.getElementById('shift-{{todo.seq}}-to-pending');
            idp.onclick = () =>{ 
                /* fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Pending'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                pendingbox = document.querySelectorAll('.item-box-enclose-3')[0];
                pendingbox.appendChild(idbox);

            };
            idi = document.getElementById('shift-{{todo.seq}}-to-inprogress');
            idi.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Inprogress'})).then(
                    function(){location.href="{% url 'second:todos' %}";});
                */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                pendingbox = document.querySelectorAll('.item-box-enclose-3')[0];
                inprogressbox = document.querySelectorAll('.item-box-enclose-3')[1];
                fetch(inprogressbox.appendChild(idbox)).then(pendingbox.removeChild(idbox));
            };
            ide = document.getElementById('shift-{{todo.seq}}-to-end');
            ide.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'End'})).then(
                    function(){location.href="{% url 'second:todos' %}";});
                */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                pendingbox = document.querySelectorAll('.item-box-enclose-3')[0];
                endbox = document.querySelectorAll('.item-box-enclose-3')[2];
                fetch(endbox.appendChild(idbox)).then(pendingbox.removeChild(idbox));
            };
        </script>
        {% endfor %}
</div>
<div class='item-box-enclose-3'>
    <h3 class='center'>진행중</h3>
    {% for todo in todos_inprogress %}
        <!-- todo_inprogress -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'>
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
        <script>
            idx = document.getElementById('del-{{todo.seq}}-from-list');
            idx.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_quick'  %}"+'?'+ new URLSearchParams({'del':'{{todo.seq}}'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                idbox.remove();//시각적으로만 조작.
            };
            idp = document.getElementById('shift-{{todo.seq}}-to-pending');
            idp.onclick = () =>{ 
                /* fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Pending'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                pendingbox = document.querySelectorAll('.item-box-enclose-3')[0];
                inprogressbox = document.querySelectorAll('.item-box-enclose-3')[1];
                fetch(pendingbox.appendChild(idbox)).then(inprogressbox.removeChild(idbox));

            };
            idi = document.getElementById('shift-{{todo.seq}}-to-inprogress');
            idi.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Inprogress'})).then(
                    function(){location.href="{% url 'second:todos' %}";});
                */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                inprogressbox = document.querySelectorAll('.item-box-enclose-3')[1];
                inprogressbox.appendChild(idbox);
            };
            ide = document.getElementById('shift-{{todo.seq}}-to-end');
            ide.onclick = () =>{ 
                /* fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'End'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                inprogressbox = document.querySelectorAll('.item-box-enclose-3')[1];
                endbox = document.querySelectorAll('.item-box-enclose-3')[2];
                fetch(pendingbox.appendChild(idbox)).then(inprogressbox.removeChild(idbox));
            };
        </script>
    {% endfor %}
</div>
<div class='item-box-enclose-3'>
    <h3 class='center'>완료</h3>
    {% for todo in todos_end %}
        <!--todo_end -->
        <div class='item-box' id='item-box-{{ todo.seq }}'>
            <span class='headline-small'><a href="{% url 'second:todo_detail' todo.seq %}">{{ todo.name }}</a></span>
            <div class='right-content'>
            {{ todo.end_date|date:"Y-m-d" }} 
            {{ todo.group }}
                <div class='item-box-image'>
                    <img src="{% static 'second/icon_more.png' %}"  id= 'item-box-{{todo.seq}}-image' style='height:1em;'/>
                    <div id ="item-list-{{todo.seq}}" class="sublist">
                        <ul>
                            <li id="del-{{todo.seq}}-from-list">삭제</li>
                            <li id="shift-{{todo.seq}}-to-pending">대기중</li>
                            <li id="shift-{{todo.seq}}-to-inprogress">진행중</li>
                            <li id="shift-{{todo.seq}}-to-end">완료</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            idx = document.getElementById('del-{{todo.seq}}-from-list');
            idx.onclick = () =>{ 
                /* fetch("{% url 'second:todo_quick'  %}"+'?'+ new URLSearchParams({'del':'{{todo.seq}}'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                idbox.remove(); //시각적으로만 조작.
            };
            idp = document.getElementById('shift-{{todo.seq}}-to-pending');
            idp.onclick = () =>{ 
                /* fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Pending'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                pendingbox = document.querySelectorAll('.item-box-enclose-3')[0];
                endbox = document.querySelectorAll('.item-box-enclose-3')[2];
                fetch(pendingbox.appendChild(idbox)).then(endbox.removeChild(idbox));
            };
            idi = document.getElementById('shift-{{todo.seq}}-to-inprogress');
            idi.onclick = () =>{ 
                /*
                fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'Inprogress'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                inprogressbox = document.querySelectorAll('.item-box-enclose-3')[1];
                endbox = document.querySelectorAll('.item-box-enclose-3')[2];
                fetch(inprogressbox.appendChild(idbox)).then(endbox.removeChild(idbox));
            };
            ide = document.getElementById('shift-{{todo.seq}}-to-end');
            ide.onclick = () =>{ 
                /* fetch("{% url 'second:todo_shift'  %}"+'?'+ new URLSearchParams({'seq':'{{todo.seq}}', 'status':'End'})).then(
                    function(){location.href="{% url 'second:todos' %}";}); */
                idbox = document.getElementById('item-box-{{todo.seq}}');
                endbox = document.querySelectorAll('.item-box-enclose-3')[2];
                endbox.appendChild(idbox);
            };
        </script>
    {% endfor %}
</div>
</div>
{% endblock %}
