{% extends 'second/detail_pages.html' %}

{% block titlename %}
Todo {{ todo.name }}
{% endblock %}

{% block content_title %}
{{ todo.name }}
{% endblock %}

{% block content_modify_url %}
{% url 'second:todo_modify' todo.seq %}
{% endblock %}


{% block content_del_form %}
        <form class="del-form" id="del-todo-{{todo.seq}}" method="post" action="{% url 'second:todo_delete' %}">
            {% csrf_token %}
            <input type="hidden" name="del" value="{{todo.seq}}"/>
        </form> <!--숨은 폼 작성 -->
{% endblock %}


{% block content_detail %}
            <div class='item-box'>
                <table class='item-box-table'>
                    <tr>
                        <td>순번</td>
                        <td> {{ todo.seq }}</td>
                    </tr>
                    <tr>
                        <td>명칭</td>
                        <td>{{ todo.name }}</td>
                    </tr>
                    <tr>
                        <td>상태</td>
                        <td>{{ todo.status }}</td>
                    </tr>
                    <tr>
                        <td>수행일</td>
                        <td>{{ todo.end_date }}</td>
                    </tr>
                    <tr>
                        <td>그룹</td>
                        <td>{{ todo.group }}</td>
                    </tr>
                </table>
            </div>
    </div>
{% endblock %}

{% block content_script %}
    <script>
        let form = document.getElementById('del-todo-{{todo.seq}}');
        alert_msg = () => {
            let form = document.getElementById('del-todo-{{todo.seq}}');
            let msg = confirm('삭제하시겠습니까?');
            if (msg){ // 강제로 히든 폼 형식을 만든다.
                form.submit();
            }
        };
    </script>
{% endblock %}
