{% extends 'first/layout.html' %}

{% block title %}
<title>점수</title>
{% endblock %}

{% block content %}
<form action="{% url 'first:students' %}" method="post">
    {%csrf_token%}
    <label for="name">이름</label> <input name="name" type="text"/> <br/>
    <label for="math">수학</label> <input name="math" type="text"/> <br/>
    <label for="english">영어</label> <input name="english" type="text"/><br/>
    <label for="science">과학</label> <input name="science" type="text"/><br/>
    <input type="submit" value="등록"/>
</form>
        <table>
        <tr>
            <th>이름</th>
            <th>수학</th>
            <th>과학</th>
            <th>영어</th>
            <th>삭제</th>
        </tr>
        {% for score in scores %}
        <!-- 반복 -->
        <tr>
        <td>{{ score.name }}</td>    
        <td>{{ score.math }}</td>
        <td>{{ score.science }}</td>
        <td>{{ score.english }}</td>
        <td> 
            <form action="{% url 'first:scores_del' %}" method="POST">
                {%csrf_token%}
                <input type='hidden' name="del"
                  value={{score.name}} />
                <input type="submit" value="삭제"/></form> </td>
    </tr>
        {% endfor %}
    </table>
{% endblock %}