{% extends 'first/layout.html' %}

{% block title %}
<title>학생 정보</title>
<style>
    #form_del{
        display:inline;
    }
</style>
{% endblock %}

{% block content %}
<button id="student_add">추가</button>
        <h2>{{ text }}</h2>

        {% for student in students %}
        <!-- 반복 -->
        <div>
            {{ student.name }}
            {{ student.address }}
            {{ student.email }}
            <form id="form_del" action="{% url 'first:students_del' %}" method="POST">
                {%csrf_token%}
                <input type='hidden' name="del"
                  value={{student.name}} />
                <input type="submit" value="삭제"/></form>
        </div>
        {% endfor %}
<script>
    document.querySelector('#student_add').onclick = function(){
        location.href="{% url 'first:students_add' %}";
    };
</script>
{% endblock %}