/* layout 내용 */

html, body{height:100%;
    padding:0px;
    margin:0px;
    background:#f4f4f4;
    min-width:500px;
}
    #list{
        float:left;
        width:180px;
        height:100%;
        color:#f4f4f4;
        background-color:blue;
        margin-right:1em;
    }
    #list ul{
        padding:0px;
        list-style-type:none;
        margin-top:3em;
    }
    .headline{
        text-align:center;
        padding:0.3em;
        font-size:larger;
        color:white;
        font-weight:bold;
    }
    #list li{
        line-height:2em;
        padding:0.3em;
        padding-left:20px;
    }
    #list ul a{
        color:#f4f4f4;
        text-decoration:none;
    }
    .block-upper{
        margin-left: calc(100% - 300px);
        padding-top:20px;
        padding-right:40px;
        padding-bottom:15px;
    }
/* 내용 공통 */

    #content-block{
        width: calc(98% - 240px);
        padding:3em;
        padding-top:0;
        margin:5px;
        margin-top:0px;
        margin-left:165px;
        
    }
    @media (min-width:1260px){
        #content-block{
            width:1040px;
        }
    }
    h2{
        margin-top:0;
        padding-top:0.5em;
    }
    .item-box-enclose{
       padding-top:2em; 
    }
    .item-box{
        border:1px solid black;
        background:white;
        padding:4px;
        margin:10px;
        border-radius:5px;
        width:calc (98% - 40px);
        position:relative;
    }

    .headline-small{
        font-weight:bold;
        color:black;
        padding-left:4px;
        
    }
    .headline-small a{
        text-decoration:none;
    }
    .right-content{
        float:right;
        font-size:0.9em;
    }
    .item-box-enclose-3{
        float:left;
        width:320px;
        position:relative;
        padding:2px;
    }
    @media (max-width:540px) {
        #list{
            width:33.3%;
        }
    }
    .center{
        text-align:center;
    } 
    .item-box-table{
        border-collapse:collapse;
    }
    .item-box-table tr>td:first-child{
        width:200px;
        font-weight:bold;
    }
    h2 .right-content img{
        height:1.5em;
        width:1.5em;
        margin-right:0.3em;
        margin-bottom:0.3em;
        
    }
    /* item box의 링크는 효과 없음 */
    .item-box a{
        text-decoration:none;
        color:black !important;
    }
    
    .item-box-image{
        cursor:pointer;
    }

    .item-box-image{
        float:right;
    } 
    .sublist{
        display:none;
    }
    .sublist ul{
        list-style-type:none;
        padding:0;
        margin:0;
    }
    .item-box-image:hover .sublist{
        float:right;
        display:block;
        position:absolute;
        bottom:0;
        right:-3em;
    }
    .item-box-image:hover .sublist li{
        background-color:white;
        width:5em;
        right:0em;
        border: 1px solid black;
        z-index:1;
        line-height:1.5em;
    }
   /*
    .item-box-image:hover .sublist li:first-child{
        position:absolute;
        bottom:-1em;
    }
    .item-box-image:hover .sublist li:nth-child(2){
        position:absolute;
        bottom:-2.5em;
    }
    .item-box-image:hover .sublist li:nth-child(3){
        position:absolute;
        bottom:-4em;
    } */
    .item-box-image:hover .sublist li:nth-child(4){
        position:absolute;
        bottom:-5em;
    }